
/* OurClients.css */
/* OurClients.css */

.Our__Clients h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 5rem;

}

.card-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
 

}
.title1{
  padding: 40px;
  color:  #f9a826;
  font-size: 3rem;
}

.card1{
  border: 1px solid #ccc;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; /* Set the height for all the cards (adjust as needed) */
  width: 200px; /* Set the width for all the cards (adjust as needed) */
  border-radius: 8px;
}
.Our__Clients{
  background-color: white;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
}
.card1 img {
  height: 100px;
  width: 100px;
}
.Learn_more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
   /* Set a height for the container (adjust as needed) */
  /* Add other styles as needed */
} 

button.Know__More {
  /* Add button styles as needed */
  padding: 10px 20px;
  font-size: 16px;
  background-color:#000d6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .Our__Clients h2{
 font-size: 2.5rem;   
}
.card-container {
  margin-left: 15%;
  align-items: center;
}
}
